@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans antialiased;
  }

  code {
    @apply font-mono;
  }
}
.thai {
  font-family: var(--font-thai);
}

.en {
  font-family: var(--font-en);
}
